<nav class="navbar navbar-light bg-light">

  <div class="container">

    <div class="navbar-header">
      <%= link_to 'To-do', root_path, class:'nav-link' %>
    </div>

    <ul class="nav navbar-nav">
      <ul class="navbar-nav">
      <% if !current_user %>

        <li class="nav-item">
          <%= link_to 'Log In', new_user_session_path %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign Up', new_user_registration_path %>
        </li>

      <% else %>
        <li>
          Welcome <%= current_user.name %>
        </li>
        <li>
          <% if current_user.image.attached? %>
          <%= image_tag(current_user.image)%>
          <% else %>

          <% end %>
        </li>

        <li>
          <%= link_to 'Edit Profile', edit_user_registration_path %>
        </li>
        <li>
          <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
        </li>

      <% end %>
      </ul>
    </ul>

  </div>

</nav>
